
body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	background: #EFF3C1;
	background: url('img/download.png')
}

#header {
	background: #29344A;
	border-bottom: 1px solid #8DB2FF;

	background-image: linear-gradient(top, rgb(59,71,97) 24%, rgb(41,52,74) 85%);
	background-image: -o-linear-gradient(top, rgb(59,71,97) 24%, rgb(41,52,74) 85%);
	background-image: -moz-linear-gradient(top, rgb(59,71,97) 24%, rgb(41,52,74) 85%);
	background-image: -webkit-linear-gradient(top, rgb(59,71,97) 24%, rgb(41,52,74) 85%);
	background-image: -ms-linear-gradient(top, rgb(59,71,97) 24%, rgb(41,52,74) 85%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.24, rgb(59,71,97)),
		color-stop(0.85, rgb(41,52,74))
	);


	box-shadow: 0px 1px 0px #222,
		0px 4px 6px rgba(0,0,0, 0.4);
}

h1 {
	font-size: 16px;
	color: #dadada;
	text-shadow: -1px -1px 0px #1C2433;
	margin: 0px;
	padding: 0px;
	line-height: 40px;
	padding-left: 10px;
}

#left, .CodeMirror {
	position: absolute;
	top: 50px;
	left: 10px;
	bottom: 180px;
	width: 45%;
	font-size: 18px;
	/*
	border: 1px solid #222;
	*/
}

.CodeMirror-scroll {
	height: 100%;
}

#right {
	position: absolute;
	top: 50px;
	right: 10px;
	bottom: 10px;
	width: 55%;
}

#right #inner {
	margin-left: 32px;
	height: 100%;
	background: black;
	color: white;
	font-size: 16px;
	overflow: auto;
}

#tools {
	/* background: rgba(255,0,0, 0.4); */
	position: absolute;
	left: 10px;
	height: 160px;
	bottom: 10px;
	width: 45%;
	padding: 4px;
}

.buttons {
	text-align: right;
}

.toolbar {
	float: right;
	line-height: 40px;
	padding-right: 10px;
	color: white;
}


#right-title {
	line-height: 35px;
	padding: 0px 10px;
	float: right;
	border-bottom: 1px dashed #444;

	background: #111;
	background: #2E2E2E;
	color: #eee;
}

#status {
	line-height: 36px;
	padding-left: 10px;
	color: white;
}

#out {
	padding: 10px;
	margin: 0px;
}

#info {
	font-style: italic;
	color: #4e4e4e;
	text-shadow: 1px 1px 0px #D8D8D8;
	padding-top: 10px;
	text-align: justify;
}

#info a {
	text-decoration: none;
	color: black;
}

#info a:hover {
	border-bottom: 1px solid black;
}

.working {
	background-color: #FF7700;
}

.success {
	background-color: #2BA408; 
}

.error {
	background-color: #E21507;
}

.status_error b {
	color: #F84949;
}

.status_error {
	color: #EECACA;
}

#snippet_url {
	display: none;
	color: #222;
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: 4px;
	width: 250px;
	box-shadow: inset 0px 2px 2px #aaa;
	outline: none;
}


.meta {
	color: #ccc;
	font-style: italic;
}


/** colors **/
.l_string { color: #ffe898; }
.l_symbol { color: #ff9898; }
.l_keyword { color: #cb98ff; font-weight: bold; }
.l_proper, .l_self_var { color: #98d9ff; }
.l_fn_symbol { color: #9fff98; }

