$link_color: #f05a7f;

body {
    font-family: rangeregular;
    padding: 0;
    margin: 0;
    background: #F0F0F0;
    color: #222;
}

a {
    color: $link_color;
    text-decoration: none;
}

.header {
    height: 50px;
    background: rgba(black, 0.8);
    color: white;
    line-height: 50px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    .return_link {
        color: #888;
        margin-left: 15px;
        font-size: 14px;

        &:hover {
            color: lighten(#888, 10%);
        }
    }

    .header_right {
        position: absolute;
        top: 0;
        right: 20px;
        line-height: 50px;

        .github_link {
            display: inline-block;
            vertical-align: top;
            margin-top: 8px;
            margin-left: 20px;
            width: 30px;
            height: 30px;

            img {
                border: 0;
                display: block;
                width: 30px;
                height: 30px;
            }
        }

    }

    .status_flag {
        transition: 0.4s ease background;
        padding: 8px 10px;
        line-height: normal;
        display: inline-block;
        border-radius: 8px;
        color: white;

        &.loading {
            background: #f277a1;
        }

        &.ready {
            background: #8EB17D;
        }
    }
}

.output_column {
    margin: 60px 20px 20px 50%;
    box-sizing: border-box;
}

.output_status {
    background: #DCDCDC;
    padding: 10px;
}

.code_output {
    font-size: 18px;
    color: #666;

    .l_builtins {
        color: #707A34;
    }

    .l_string {
        color: #A16D43;
    }

    .l_number {
        color: #893D8C;
    }

    .l_function {
        color: #8E4681;
    }

    .l_symbol {
        color: #B50C0C;
    }

    .l_proper {
        color: #30A0BD;
    }

    .l_keyword {
        color: #0CB56C;
    }

    .l_atom {
        color: #333;
    }
}

.code_column {
    position: fixed;
    top: 60px;
    bottom: 20px;
    width: calc(50% - 20px);
    left: 10px;
    display: flex;
    flex-direction: column;
}

.code_input {
    font-family: range_monomedium;
    box-sizing: border-box;
    font-size: 18px;
    border: 1px solid #dadada;
    border-radius: 2px;
    padding: 10px;
    color: #444;
    width: 100%;
    flex: 1;

    &:focus {
        outline: none;
        border: 1px solid darken(#dadada, 20%);
        box-shadow: 0 0 0 1px darken(#dadada, 20%);
    }
}

.button_toolbar {
    margin-top: 10px;
    text-align: right;
}

.button {
    position: relative;
    display: inline-block;
    border: 0;
    height: 36px;
    line-height: 38px;
    padding: 0 20px;
    border-radius: 2px;
    background: white;
    box-shadow: 0 4px 0 #d9d9d8;
    user-select: none;
    font-family: rangeregular;
    color: $link_color;
    font-size: 14px;

    &:focus {
        outline: none;
    }

    &:active {
        background: darken(#f0f0f0, 5%);
        box-shadow: 0 2px 0 darken(#d9d9d8, 5%);
        top: 2px;
    }
}

